# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# turborepo
.turbo

# rust / soroban
target/
**/*.rs.bk

# dist / output
dist
.swc

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (NEVER COMMIT THESE)
.env
.env*.local